<h1>Resizable table</h1>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container
    *ngFor="let col of displayedColumns; let i = index"
    [matColumnDef]="col"
  >
    <th *matHeaderCellDef mat-sort-header #resize>
      <div class="wrapper">
        <div class="content">
          {{ col }}
        </div>
        <div class="bar" (resizable)="onResize($event, i)"></div>
      </div>
    </th>
    <td mat-cell *matCellDef="let element">{{ element[col] }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
